@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Numans&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

/* tailwindcss theme configurations  */
@theme {
    --font-numan: "Numan", sans-serif;
    --font-frontegg: "Rethink Sans", sans-serif;
    --font-beauty: "Gowun Dodum", sans-serif;

    --color-gradient-green: linear-gradient(90deg, rgba(34, 127, 162, 1) 1%, rgba(87, 199, 133, 0.74) 41%, rgba(237, 221, 83, 0.37) 100%);
    --color-frontegg-accent: rgb(1, 142, 162);
    --color-frontegg-secondary: rgb(255 198 198);
    --color-frontegg-attention: rgb(241 73 104);
    --color-frontegg-lightpink: rgb(243 244 244);
    --color-frontegg-shadow: rgb(203 183 190);
    --color-frontegg-callout: rgb(158 222 253);
    --color-frontegg-dark: rgb(42 60 57);
    --color-frontegg-deepblue: rgb(38, 66, 126);
    --color-frontegg-blue: rgb(0, 134, 154);

    /* Production  */
    --font-primary: "Numan", sans-serif;
    --font-secondary: "Rethink Sans", sans-serif;
    
    --color-secondary: rgb(217 175 66);
    --color-dark: rgb(42 60 57);
    --color-tenants-bg: rgb(19, 39, 49);
    --color-success: rgb(30 161 107);
    --color-error: rgb(242, 63, 43);
    --color-callout: rgb(23 223 108);
    --color-errortxt: rgb(109, 21, 12);

    --spacing-slot-height: 50px;
}


@layer base {

    html,
    body,
    #root {
        @apply w-screen h-screen flex flex-col bg-neutral-100 font-frontegg;
    }

    #root {
        @apply bg-[url(./assets/dark-green-bg.jpg)] bg-cover;
    }
    
    .rounded-btn {
        @apply flex justify-center items-center text-center px-2 rounded-full;
    }
    
    .rounded-btn > svg,
    .rounded-btn > img {
        @apply w-full h-full object-contain;
    }

    .menu-item {
        @apply bg-frontegg-lightpink text-frontegg-dark border-frontegg-dark/10 border-[2px]
    }

    .menu-item:hover {
        @apply text-white
    }
    
    .accent-btn:hover {
        @apply bg-frontegg-accent;
    }

    .dark-btn:hover {
        @apply bg-frontegg-attention transition-colors duration-100;
    }
    
    .log-btn {
        @apply flex h-full w-[120px] text-[1rem] font-beauty cursor-pointer opacity-90 font-bold tracking-wide;
    }

    .log-btn:hover {
        @apply opacity-100
    }

    .textlink {
        @apply text-frontegg-accent cursor-pointer 
    }

    .textlink:hover {
        @apply text-frontegg-accent ;
    }

    .textlink::after {
        content: '';
        display: inline-flex;
        background-color: var(--color-frontegg-accent);
        mask: url('./assets/settings-icon-nofill.svg') no-repeat center;
        mask-size: contain;
        background-size: contain;
        height: 1.2rem;
        width: 1.2rem;

        
    }

    .textlink:hover::after {
        @apply bg-frontegg-accent;
        animation: hintflash 0.5s 2 ease-in-out;
    }

    @keyframes fill-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes hintflash {
        0% { background-color: var(--color-frontegg-accent); }
        50% { background-color: var(--color-frontegg-lightpink); transform: scale(1.1); }
    }

    @keyframes wave {
        0% { rotate: 0; }
        25% { rotate: -10; }
        75% { rotate: 10; }
        100% {rotate: 0; }
    }

    .attention-flash-bg {
        animation: hintflash 0.5s 2 ease-in-out;
    }

    .open-tooltip {
        animation: fill-in 0.4s ease-out forwards;
    }

    .transition-m {
        transition: 0.3s ease-in-out;
    }

    .fillin-waving {
        animation: wave 0.5 4 ease-in-out both;
    }
    
    
}